version: "3.7"

services:
  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: unless-stopped
    user: root
    # security_opt:
    #   - no-new-privileges:true
    networks:
      - proxy
    ports:
      - 80:80
      - 443:443
    environment:
      CF_DNS_API_TOKEN_FILE: /run/secrets/cf_api_token
      TRAEFIK_DASHBOARD_CREDENTIALS: ${TRAEFIK_DASHBOARD_CREDENTIALS}
      EMAIL: ${EMAIL}
      DOMAIN: ${DOMAIN}
      CERTRESOLVER: ${CERTRESOLVER}
    secrets:
      - cf_api_token
    env_file: .env
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/traefik.yml:/traefik.yml:ro
      - ./data/acme.json:/acme.json
      # - ./data/config.yml:/config.yml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.traefik-auth.basicauth.users=${TRAEFIK_DASHBOARD_CREDENTIALS}"
      - "traefik.http.middlewares.traefik-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.sslheader.headers.customrequestheaders.X-Forwarded-Proto=https"
      - "traefik.http.routers.traefik.middlewares=traefik-https-redirect"
      - "traefik.http.routers.traefik-secure.entrypoints=https"
      - "traefik.http.routers.traefik-secure.rule=Host(`traefik.${DOMAIN}`)"
      - "traefik.http.routers.traefik-secure.middlewares=traefik-auth"
      - "traefik.http.routers.traefik-secure.tls=true"
      - "traefik.http.routers.traefik-secure.tls.certresolver=${CERTRESOLVER}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].main=${DOMAIN}"
      - "traefik.http.routers.traefik-secure.tls.domains[0].sans=*.${DOMAIN}"
      - "traefik.http.routers.traefik-secure.service=api@internal"

  traefik-certs-dumper:
    image: ldez/traefik-certs-dumper
    container_name: traefik-certs-dumper
    entrypoint: sh -c '
      apk add jq
      ; while ! [ -e /acme.json ] || [ "$(jq '\''.[].Certificates | length'\'' /acme.json 2>/dev/null || echo 0)" -eq 0 ]; do
        echo "Waiting for /acme.json to be available and populated... sleep 3"
        sleep 3
      ; done
      && traefik-certs-dumper file --version v2 --watch \
        --source /acme.json --dest /certs --domain-subdir \
        --crt-name=fullchain --key-name=privkey'
    restart: unless-stopped
    user: root
    volumes:
      - ./data/acme.json:/acme.json  # 将 Traefik 的 acme.json 文件挂载到容器
      - /root/certs:/certs  # 将证书存放的输出目录挂载到容器
    # command: file --version v2 --source /acme.json --dest /certs --domain-subdir --crt-name=fullchain --key-name=privkey --watch  # 使用“file”命令来导出证书


secrets:
  cf_api_token:
    file: ./cf_api_token.txt

networks:
  proxy:
    external: true
